@font-face {
	font-family:'Signika';
	font-style:normal;
	font-weight:400;
	src:local('Signika-Regular'), url('Signika.woff') format('woff');
}
body {
	background-color:#F4F4F4;
	color:#303030;
	font-family:'Signika', sans-serif;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	line-height:1;
}
input {
	border:0;
	padding:0;
	outline:none;
}
.tab {
	display:none;
	color:#454545;
}
.tab ul {
	margin:0px 10px 7px 0px;
}
.tab li {
	line-height:20px;
	padding-bottom:5px;
}
.fixedtable {
	display:table;
	table-layout:fixed;
	width:100%;
}
.tablerow {
	display:table-row;
}
.cell {
	display:table-cell;
	height:100%;
	vertical-align:top;
}
.vlinecell {
	display:table-cell;
	width:1px;
	background-color:#BBBBBB;
}
.hlinediv {
	height:1px;
	background-color:#BBBBBB;
}
.inputboxwrapper {
	height:21px;
	padding:3px 3px 3px 3px;
	border:1px solid #BBBBBB;
	border-radius:5px;
	background-color:#F4F4F4;
}
.inputbox {
	width:100%;
	height:100%;
	margin:0px auto 0px auto;
	color:#404040;
	font-size:18px;
	background-color:#F4F4F4;
}
.basicbutton {
	padding:0px 0px 1px 0px;
	border:1px solid #BBBBBB;
	background-image:url('images/buttontile.png');
	background-repeat:repeat-x;
	border-radius:5px;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	cursor:pointer;
	color:#454545;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	line-height:24px;
	vertical-align:top;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.basicbutton:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.basicbutton:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
#skybgdiv {
	background: #C2E8F1 url('images/skybg.png') repeat-x left top;
}
a:link, a:visited {
	color:#006DA3;
	text-decoration:none;
}
a:hover, a:active {
	color:#006DA3;
	text-decoration:underline;
}

/* main tab */

#main_tab {
	opacity:0;
	min-width:620px;
}
.main_top_heighttrans {
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
#main_box {
	width:700px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 0px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#main_leftcell {
	display:table-cell;
	width:150px;
	padding:0px 7px 0px 7px;
	vertical-align:top;
}
#main_leftcell .menubutton {
	height:25px;
	padding:0px 5px 0px 5px;
	line-height:25px;
	font-size:18px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	text-shadow:1px 1px 0px #f4f4f4;
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	vertical-align:top;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
	margin-bottom:7px;
}
#main_leftcell .menubutton:last-child {
	margin-bottom:0px;
}
#main_leftcell .menubutton:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
#main_leftcell .menubutton:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
#main_leftcell .sep {
	height:7px;
}
#main_rightcell {
	display:table-cell;
	padding:9px 9px 9px 9px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#watchvideo_tab {
}
#watchvideo_tab p {
	line-height:145%;
	margin:0px 0px 9px 0px;
}
#learnmore_tab {
	padding:0px 2px 0px 2px;
}
#learnmore_tab h1 {
	margin:0px 0px 9px 0px;
	font-size:140%;
	font-weight:normal;
	color:#454545;
}
#learnmore_tab h2 {
	margin:0px 0px 9px 0px;
	font-size:110%;
	font-weight:normal;
	color:#454545;
}
#learnmore_tab p {
	line-height:145%;
	margin:0px 0px 9px 0px;
}
#learnmore_tab .lastp {
	margin:0;
}
.pricingtable {
	display:table;
	padding:2px;
	border:1px solid #E0E0E0;
	border-radius:5px;
	margin:0px auto 9px auto;
	background:#F4F4F4;
}
.pt_featurecell, .pt_cell, .pt_cellright {
	display:table-cell;
	padding:0px 2px 0px 2px;
	text-align:center;
	vertical-align:middle;
}
.pt_featurecell {
	width:169px;
	border-right:1px solid #E0E0E0;
	text-decoration:underline;
}
.pt_cell {
	border-right:1px solid #E0E0E0;
	width:79px;
}
.pt_cellright {
	width:79px;
}
.pt_incell, .pt_incellbottom {
	height:29px;
	padding-top:2px;
	line-height:29px;
}
.pt_incell {
	border-bottom:1px solid #E0E0E0;
}
.pt_incell_check {
	background: url('/images/check.png');
	background-repeat:no-repeat;
	background-position:center center;
}
.pt_incellbottom {
}
#tryitout_tab p {
	margin:0;
	text-align:center;
}
.tryitout_buttontable {
	margin:17px 0px 13px 0px;
}
.tryitout_table_label_cell {
	display:table-cell;
	text-align:center;
	font-size:120%;
	line-height:29px;
}
#newaccount_tab p {
	margin:2px 0px 11px 5px;
}
.newaccount_infotable {
}
.newaccount_tablekey {
	width:140px;
	padding-bottom:6px;
	text-align:right;
}
.newaccount_tablesep {
	width:10px;
	text-align:center;
}
#tooltip {
	position:absolute;
	padding:9px 9px 9px 9px;
	border:1px solid #BBBBBB;
	line-height:140%;
	border-radius:5px;
	background-color:#ECECEC;
}
#tooltip img {
	display:block;
	margin-top:6px;
	border:1px solid #BBBBBB;
	border-radius:4px;
}
