body {
	background-color:#E3E3E3;
	font-family: 'Signika', sans-serif; /* TODO: move to specific components */
	padding: 9px 9px 9px 9px;
	margin: 0px 0px 0px 0px;
}
#mainbox {
	/*width:641px;*/
	height:410px;
}
#cardrow {
	height:100px;
}
#leftcard {
	width:320px;
	height:100%;
	background-color:orange;
	margin-right:auto;
}
#cardsep {
	width:1px;
	height:100%;
	background-color:black;
	margin-left:auto;
	margin-right:auto;
}
#rightcard {
	width:320px;
	height:100%;
	background-color:lightgreen;
	margin-left:auto;
}
