body {
	background-color:#E3E3E3;
	color:#303030;
	font-family:'Signika', sans-serif;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.tab {
	display:none;
	box-sizing:border-box;
	min-width:659px;
}
.cardrowtable {
	display:table;
	table-layout:fixed;
	width:100%;
	height:100px;
}
.cardrow {
	display:table-row;
}
.card, .card320, .card220, .card100 {
	display:table-cell;
	height:100px;
	vertical-align:top;
}
.card320 {
	width:320px;
}
.card220 {
	width:220px;
}
.card100 {
	width:100px;
}
.framedicon {
	display:table-cell;
	width:100px;
	height:98px;
	box-sizing:border-box;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	vertical-align:top;
}
.leftcardtext {
	display:table-cell;
	width:220px;
	height:100%;
	box-sizing:border-box;
	padding:0px 0px 0px 8px;
}
.rightcardtext {
	display:table-cell;
	width:220px;
	height:100%;
	box-sizing:border-box;
	padding:0px 9px 0px 0px;
	text-align:right;
}
.personname {
	font-size:150%;
}
.persontitle {
	font-size:110%;
	color:#7C7C7C;
}
.msgname {
	font-size:110%;
}
.msgtext {
	font-size:110%;
}
.inputboxwrapper {
	height:26px;
	background-color:#F4F4F4;
	border:1px solid #BBBBBB;
	border-radius:5px;
	padding:0px 0px 0px 3px;
}
.inputbox {
	display:block;
	width:99%;
	background-color:#F4F4F4;
	color:#303030;
	margin-left:auto;
	margin-right:auto;
	font-size:110%;
}
input {
	border:0;
	outline:none;
}
.basicbutton {
	display:inline-block;
	height:25px;
	background-image:url('images/buttontile.png');
	background-repeat:repeat-x;
	border:1px solid #BBBBBB;
	border-radius:5px;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	cursor:pointer;
	padding:0px 0px 1px 0px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	line-height:26px;
	vertical-align:top;
}
.basicbutton:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.basicbutton:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}

/* welcome tab */

#welcome_bgtop {
	height:0px;
	background-color:#76cfe4;
}
#welcome_bgbot {
	height:0px;
	background-color:#68bd4d;
}
#welcome_bggradient {
	/* BEGIN browser-specific crap */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76cfe4', endColorstr='#68bd4d'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#76cfe4', endColorstr='#68bd4d')"; /* IE8+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76cfe4), color-stop(100%, #68bd4d)); /* Safari 4+, Chrome 2+ */
	background: -moz-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* FF 3.6+ */
	background: -ms-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* IE10 */
	background: -o-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* Opera 11.10 */
	background: -webkit-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* Safari 5.1+, Chrome 10+ */
	/* END browser-specific crap */
	background: linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%);
}
#welcome_bg {
	width:659px;
	height:659px;
	margin-left:auto;
	margin-right:auto;
	background-image: url('images/welcomebg.png');
}
#welcome_loginbox {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#welcome_myname {
	color:#3B4797;
}
#welcome_chooseanamelabel {
	height:30px;
	padding-top:4px;
	text-align:center;
}

/* chat tab */

#chat_tab {
	padding:9px 9px 2px 9px;
}
#chat_cardsep {
	display:table-cell;
	width:1px;
	height:100%;
	background-color:#BBBBBB;
}
#chat_chatlog {
	height:400px;
	box-sizing:border-box;
	background-color:#F4F4F4;
	border:1px solid #BBBBBB;
	border-radius:5px;
	padding:1px 10px 3px 6px;
	margin-top:9px;
	overflow-x:hidden;
	overflow-y:auto;
}
#chat_chatboxwrapper {
	margin-top:9px;
}
.chat_inlinecardtext {
	font-size:150%;
	text-align:center;
}
#chat_inlinepos {
	font-size:255%;
	line-height:32px;
	text-align:center;
}
#chat_inlinepos sup {
	font-size:50%;
}

