#login_tab {
	min-width:400px;
}
#login_box {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#login_adminloginlabel {
	padding:2px 0px 10px 0px;
	font-size:18px;
	color:#454545;
	word-wrap:break-word;
	text-align:center;
}
#login_password {
	text-align:center;
}
#main_tab {
	min-width:620px;
}
#main_top {
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}
#main_box {
	width:580px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#main_leftcell {
	display:table-cell;
	width:100px;
}
.main_leftcell_button {
	width:98px;
	height:98px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.main_leftcell_button:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.main_leftcell_button:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.main_leftcell_vspacer {
	height:9px;
}
#main_rightcell {
	display:table-cell;
	padding-left:9px;
	vertical-align:top;
}
.main_rightcell_vspacer {
	height:8px;
}
.main_rightcell_hline {
	height:1px;
	background:#BBBBBB;
}
.tab ul {
	margin:0px 10px 7px 0px;
}
.tab li {
	line-height:20px;
	padding-bottom:5px;
}
.main_hspacercell {
	display:table-cell;
	width:9px;
}
.main_title {
	padding:4px 0px 10px 0px;
	font-size:140%;
	text-align:center;
}
.main_contentbox {
	padding:9px 9px 9px 9px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	color:#656565;
	text-align:center;
}
.main_contentbox a:link, .main_contentbox a:visited {
	color:#006DA3;
	text-decoration:none;
}
.main_contentbox a:hover, .main_contentbox a:active {
	color:#006DA3;
	text-decoration:underline;
}
.main_settings_label {
	display:table-cell;
	text-align:center;
	font-size:120%;
	line-height:29px;
}
#main_general_siteid {
	color:#454545;
}
#main_general_sitename {
	text-align:center;
}
.main_savediv {
	height:0px;
	overflow:hidden;
}
.main_savedlabel {
	text-align:center;
	font-size:110%;
	line-height:24px;
	color:#009900;
}
#main_operators_listbox {
	border-top:1px solid #BBBBBB;
	border-bottom:1px solid #BBBBBB;
	padding:9px 0px 9px 0px;
}
.main_operators_listbox_item {
	border-radius:5px;
}
.main_operators_listbox_item:hover, .main_operators_listbox_item:active {
	background:#D4D4D4;
	cursor:pointer;
}
.main_operators_listbox_centertext {
	padding:14px 0px 5px 0px;
	text-align:center;
}
.main_editoperator_preview_wrapper {
	width:320px;
	padding:7px 7px 7px 7px;
	border:1px solid #BBBBBB;
	border-radius:5px;
	margin-left:auto;
	margin-right:auto;
}
.main_editoperator_title {
	color:#7C7C7C;
}
.main_tablenote {
	display:table-cell;
	text-align:center;
	font-size:80%;
}
.smallbutton {
	padding-top:1px;
	border:1px solid #BBBBBB;
	border-radius:5px;
	background-image:url('images/buttontile.png');
	background-repeat:repeat-x;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	line-height:21px;
	font-size:15px;
	color:#454545;
	cursor:pointer;
	vertical-align:top;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.smallbutton:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.smallbutton:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.vmiddle {
	vertical-align:middle;
}
