/* chat tab */

#chat_tab {
	min-width:641px;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
}
#chat_logo {
	width:260px;
	height:98px;
	background-color:#ECECEC;
	background-repeat:no-repeat;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#chat_inlineinfocell {
	width:100px;
}
.chat_inlinecardtexttop, .chat_inlinecardtextbot {
	display:table-cell;
	font-size:24px;
	text-align:center;
}
.chat_inlinecardtexttop {
	vertical-align:top;
}
.chat_inlinecardtextbot {
	vertical-align:bottom;
}
#chat_inlinepos {
	display:table-cell;
	height:51px;
	vertical-align:middle;
	font-size:38px;
	text-align:center;
}
#chat_inlinepos sup {
	font-size:50%;
}
#chat_menubar {
	margin-top:9px;
	padding-top:9px;
	border-top:1px solid #BBBBBB;
	vertical-align:bottom;
}

/* extensions from common */
.chatboxwrapper {
	margin-top:9px;
}
