/* welcome tab */

#welcome_tab {
	min-width:659px;
}
#welcome_top {
	height:0px;
	background-color:#76cfe4;
}
#welcome_bottom {
	height:0px;
	background-color:#68bd4d;
}
#welcome_middle {
	/* BEGIN browser-specific crap */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76cfe4', endColorstr='#68bd4d'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#76cfe4', endColorstr='#68bd4d')"; /* IE8+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76cfe4), color-stop(100%, #68bd4d)); /* Safari 4+, Chrome 2+ */
	background: -moz-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* FF 3.6+ */
	background: -ms-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* IE10 */
	background: -o-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* Opera 11.10 */
	background: -webkit-linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%); /* Safari 5.1+, Chrome 10+ */
	/* END browser-specific crap */
	background: linear-gradient(top, #76cfe4 0%, #b9e5ef 50%, #cdecf3 65%, #68bd4d 100%);
}
#welcome_bg {
	width:659px;
	height:659px;
	margin-left:auto;
	margin-right:auto;
	background-image: url('images/welcomebg.png');
}
#welcome_loginbox {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#welcome_chooseanamelabel {
	height:30px;
	padding-top:5px;
	text-align:center;
}
#welcome_card .inputboxwrapper {
	margin-bottom:9px;
}

/* chat tab */

#chat_tab {
	min-width:641px;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
}
#chat_inlineinfocell {
	width:100px;
}
.chat_inlinecardtexttop, .chat_inlinecardtextbot {
	display:table-cell;
	font-size:24px;
	text-align:center;
}
.chat_inlinecardtexttop {
	vertical-align:top;
}
.chat_inlinecardtextbot {
	vertical-align:bottom;
}
#chat_inlinepos {
	display:table-cell;
	height:51px;
	vertical-align:middle;
	font-size:38px;
	text-align:center;
}
#chat_inlinepos sup {
	font-size:50%;
}
#chat_menubar {
	margin-top:9px;
	padding-top:9px;
	border-top:1px solid #BBBBBB;
	vertical-align:bottom;
}

/* misc message tab */
#miscmessage_tab {
	min-width:400px;
}
#miscmessage_box {
	width:346px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#miscmessage_title {
	text-align:center;
	padding:5px 0px 14px 0px;
	font-size:24px;
	color:#525252;
}
.miscmessage_content_textwrapper {
	padding:9px 9px 9px 9px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	color:#606060;
	line-height:24px;
}
.miscmessage_buttontable {
	margin-top:8px;
}

