@font-face {
	font-family:'Signika';
	font-style:normal;
	font-weight:400;
	src:local('Signika-Regular'), url('Signika.woff') format('woff');
}
body {
	background-color:#F4F4F4;
	color:#303030;
	font-family:'Signika', sans-serif;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	line-height:1;
}
input {
	border:0;
	padding:0;
	outline:none;
}
.tab {
	display:none;
}
.normaltable {
	display:table;
}
.fixedtable {
	display:table;
	table-layout:fixed;
	width:100%;
}
.fullheight {
	height:100%;
}
.tablerow {
	display:table-row;
}
.cell, .cell100, .cell320 {
	display:table-cell;
	height:100%;
	vertical-align:top;
}
.cell100 {
	width:100px;
}
.cell320 {
	width:320px;
}
.vlinecell {
	display:table-cell;
	width:1px;
	background-color:#BBBBBB;
}
.hlinediv {
	height:1px;
	background-color:#BBBBBB;
}
.iconcell {
	display:table-cell;
	width:100px;
	vertical-align:top;
}
.framedicon {
	width:98px;
	height:98px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	vertical-align:top;
}
.leftcardtexttight {
	padding:0px 0px 0px 8px;
	height:100%;
}
.leftcardtext {
	padding:0px 8px 0px 8px;
	height:100%;
}
.rightcardtext {
	height:100%;
	padding:0px 8px 0px 8px;
	text-align:right;
}
.personname {
	height:28px;
	font-size:24px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.persontitle {
	height:30px;
	font-size:18px;
	color:#7C7C7C;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.personmenuwrapper {
	margin-top:18px;
}
.darkinputboxwrapper, .inputboxwrapper, .chatboxwrapper {
	border:1px solid #BBBBBB;
	border-radius:5px;
	padding:3px 3px 3px 3px;
}
.darkinputboxwrapper {
	background-color:#EDEDED;
	height:21px;
}
.inputboxwrapper {
	background-color:#F4F4F4;
	height:21px;
}
.chatboxwrapper {
	background-color:#F4F4F4;
	margin-top:9px;
	overflow:hidden;
}
.darkinputbox, .inputbox {
	width:100%;
	height:100%;
	margin:0px auto 0px auto;
	color:#404040;
	font-size:18px;
}
.darkinputbox {
	background-color:#EDEDED;
}
.inputbox {
	background-color:#F4F4F4;
}
.basicbutton {
	padding:0px 0px 1px 0px;
	border:1px solid #BBBBBB;
	background-image:url('/images/buttontile.png');
	background-repeat:repeat-x;
	border-radius:5px;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	cursor:pointer;
	color:#454545;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	line-height:24px;
	vertical-align:top;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.basicbutton:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.basicbutton:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.personmenubutton {
	border:1px solid #BBBBBB;
	border-radius:5px;
	background-image:url('/images/buttontile.png');
	background-repeat:repeat-x;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	line-height:22px;
	font-size:15px;
	color:#707070;
	vertical-align:top;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.personmenubuttonenabled {
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.personmenubuttonenabled:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.personmenubuttonenabled:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.edgelinesleft, .edgelinesright, .edgelinesboth {
	display:table-cell;
	background:url('/images/edgelines.png');
	width:9px;
	height:29px;
}
.edgelinesleft {
	border-left:1px solid #BBBBBB;
}
.edgelinesright {
	border-right:1px solid #BBBBBB;
}
.edgelinesboth {
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
}
.chatbox, .chatboxshadow {
	padding:0px 0px 0px 0px;
	border:0px;
	line-height:22px;
	font-family:'Signika', sans-serif;
	font-size:18px;
	resize:none;
	background-color:#F4F4F4;
	color:#303030;
	outline:none;
	vertical-align:top;
}
.chatbox {
	width:100%;
}
.chatboxshadow {
	width:200px;
	position:absolute;
	top:-9999px;
	left:-9999px;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
}
.chatlog, .chatlogfixed {
	height:400px;
	padding:1px 10px 3px 6px;
	background-color:#F4F4F4;
	border:1px solid #BBBBBB;
	border-radius:5px;
	margin-top:9px;
	overflow-x:hidden;
	overflow-y:auto;
	white-space:pre-wrap;
	word-wrap: break-word;
}
.chatlogfixed {
	width:623px;
}
.chatmsgtext, .chatinfotext {
	font-size:18px;
	line-height:120%;
}
.chatinfotext {
	color:#7C7C7C;
}
.chatmsgtext a:link, .chatmsgtext a:visited, .chatinfotext a:link, .chatinfotext a:visited {
	color:#006DA3;
	text-decoration:none;
}
.chatmsgtext a:hover, .chatmsgtext a:active, .chatinfotext a:hover, .chatinfotext a:active {
	color:#006DA3;
	text-decoration:underline;
}
.ellipsis {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.skybgdiv {
	background: #C2E8F1 url('/images/skybg.png') repeat-x left top;
}
/* misc message tab */
#miscmessage_tab {
	min-width:400px;
}
#miscmessage_box {
	width:346px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#miscmessage_title {
	text-align:center;
	padding:5px 0px 14px 0px;
	font-size:24px;
	color:#525252;
}
.miscmessage_content_textwrapper {
	padding:9px 9px 9px 9px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	color:#606060;
	line-height:24px;
}
.miscmessage_buttontable {
	margin-top:8px;
}
