/* common to 'operator' screens only */
.common_skybg {
	background: #C2E8F1 url('images/skybg.png') repeat-x left top;
}
#login_tab {
	min-width:400px;
}
#login_box {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#login_operloginlabel {
	text-align:center;
	font-size:20px;
}
#login_sitenamelabel {
	text-align:center;
	font-size:16px;
	padding:9px;
}
#login_logintable {
	margin-top:6px;
}
#login_cardtext .inputboxwrapper {
	margin-bottom:7px;
}
#menu_tab {
	min-width:400px;
}
#menu_box {
	width:346px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#menu_welcomelabel {
	text-align:center;
	padding:5px 0px 14px 0px;
	font-size:24px;
}
.menu_option, .menu_optionbig {
	display:table-cell;
	height:130px;
	vertical-align:bottom;
}
.menu_option {
	width:100px;
}
.menu_optionbig {
	width:130px;
}
.menu_icon, .menu_iconbig {
	width:98px;
	height:98px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	vertical-align:top;
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.menu_icon {
	width:98px;
	height:98px;
}
.menu_iconbig {
	width:128px;
	height:128px;
}
.menu_icon:hover, .menu_iconbig:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.menu_icon:active, .menu_iconbig:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.menu_settingsicon {
	background-image:url('images/menu_settings.png');
}
.menu_chaticon {
	background-image:url('images/menu_chat.png');
}
.menu_logouticon {
	background-image:url('images/menu_logout.png');
}
#chat_table {
	display:table;
	margin-left:auto;
	margin-right:auto;
	background-color:#E3E3E3;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
}
.chat_topleftcell {
	display:table-cell;
	width:641px;
	height:29px;
}
.chat_topbutton {
	display:table-cell;
	background-image:url('images/gtile29.png');
	background-repeat:repeat-x;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	vertical-align:top;
}
.chat_topbutton:hover {
	box-shadow: 0px 0px 6px 2px #DEDEDE inset;
}
.chat_topbutton:active {
	box-shadow: 0px 0px 6px 2px #BDBDBD inset;
}
.chat_topbuttonbackicon {
	height:29px;
	width:50px;
	background-image:url('images/back.png');
	background-repeat:no-repeat;
	background-position:center;
}
.chat_topbuttonavailableiconcell, .chat_topbuttonunavailableiconcell {
	display:table-cell;
	height:29px;
	width:29px;
	background-repeat:no-repeat;
	background-position:center;
}
.chat_topbuttonavailableiconcell {
	background-image:url('images/oper_available.png');
}
.chat_topbuttonunavailableiconcell {
	background-image:url('images/oper_unavailable.png');
}
.chat_operstatuscell {
	display:table-cell;
	width:150px;
	vertical-align:middle;
}
.chat_operstatus {
	width:140px;
	padding: 0px 5px 0px 5px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.chat_toprighttable {
	display:table;
	width:100%;
}
.chat_toprightcell {
	display:table-cell;
	width:200px;
}
#chat_maincell {
	display:table-cell;
	width:641px;
	height:400px;
	min-width:641px;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
}
#chat_maincell_none_infodiv {
	padding:9px 9px 9px 9px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	color:#707070;
	line-height:24px;
	text-align:center;
}
#chat_nextinlinewrapper {
	height:71px;
	border-bottom:1px solid #BBBBBB;
}
.chat_sessionlistheader {
	display:table-cell;
	width:200px;
	line-height:29px;
	background-color:#ECECEC;
	vertical-align:middle;
	text-align:center;
}
#chat_nextinlineheader {
	height:71px;
}
#chat_activechatsheader {
	height:29px;
}
#chat_nextinlinebuttonwrapper {
	display:none;
}
.chat_sessionlistcontent {
	padding:7px 7px 0px 7px;
}
.chat_sessionlistbutton {
	height:25px;
	line-height:25px;
	font-size:18px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	text-shadow:1px 1px 0px #f4f4f4;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	width:174px;
	padding:0px 5px 0px 5px;
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	vertical-align:top;
}
.chat_sessionlistbutton:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.chat_sessionlistbutton:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.chat_sessionlistsep {
	height:7px;
}

