#login_tab {
	min-width:400px;
}
#login_box {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#login_operloginlabel {
	padding:2px 0px 7px 0px;
	font-size:18px;
	color:#454545;
	word-wrap:break-word;
	text-align:center;
}
#login_logintable {
	margin-top:6px;
}
#login_cardtext .inputboxwrapper {
	margin-bottom:7px;
}
#chat_table {
	display:table;
	margin-left:auto;
	margin-right:auto;
	background-color:#E3E3E3;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
}
.chat_toprighttable {
	display:table;
	width:100%;
}
#chat_maincell {
	display:table-cell;
	width:641px;
	height:400px;
	min-width:641px;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
}
#chat_rightcell {
	display:table-cell;
	width:200px;
	vertical-align:top;
}
.chat_menucell {
	display:table-cell;
	background-image:url('images/gtile29.png');
	vertical-align:middle;
	cursor:pointer;
}
.chat_menulabelwidthlimiter {
	width:180px;
}
#chat_menulabel {
	padding: 0px 5px 0px 5px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
}
#chat_menuwrapper {
	display:none;
	border-bottom:1px solid #BBBBBB;
}
#chat_noopenchatsessionsdiv {
	padding:9px 9px 9px 9px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	color:#656565;
	line-height:24px;
}
#chat_noopenchatsessionsdiv ul {
	margin:10px 10px 6px 0px;
}
#chat_noopenchatsessionsdiv li {
	line-height:20px;
	padding-bottom:5px;
}
#chat_nextinlinewrapper {
	height:71px;
	border-bottom:1px solid #BBBBBB;
}
.chat_sessionlistheader {
	width:200px;
	line-height:29px;
	background-color:#ECECEC;
	vertical-align:middle;
	text-align:center;
}
#chat_nextinlineheader {
	height:71px;
}
#chat_activechatsheader {
	height:29px;
}
#chat_nextinlinebuttonwrapper {
	display:none;
}
.chat_sessionlistcontent {
	padding:7px 7px 0px 7px;
}
.chat_sessionlistbutton_full, .chat_sessionlistbutton_open {
	height:25px;
	line-height:25px;
	font-size:18px;
	background-color:#ECECEC;
	border:1px solid #BBBBBB;
	border-radius:5px;
	text-shadow:1px 1px 0px #f4f4f4;
	cursor:pointer;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	vertical-align:top;
}
.chat_sessionlistbutton_full {
	padding:0px 5px 0px 5px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
}
.chat_sessionlistbutton_full:hover, .chat_sessionlistbutton_open:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.chat_sessionlistbutton_full:active, .chat_sessionlistbutton_open:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.chat_sessionlistbutton_ind_base, .chat_sessionlistbutton_ind_active, .chat_sessionlistbutton_ind_ended {
	width:21px;
	height:25px;
}
.chat_sessionlistbutton_ind_base {
	background-image: url('images/sessionbutton_gray.png');
}
.chat_sessionlistbutton_ind_active {
	background-image: url('images/sessionbutton_green.png');
}
.chat_sessionlistbutton_ind_ended {
	background-image: url('images/sessionbutton_red.png');
}
.chat_sessionlistbutton_open_text {
	padding:0px 21px 0px 0px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
}
.chat_sessionlistsep {
	height:7px;
}
