#login_tab {
	min-width:659px;
	background: #C2E8F1 url('images/skybg.png') repeat-x left top;
}
#login_top {
	height:0px;
}
#login_middle {
}
#login_box {
	width:320px;
	margin-left:auto;
	margin-right:auto;
	padding:9px 9px 9px 9px;
	background-color:#E3E3E3;
	border:1px solid #BBBBBB;
	border-radius:5px;
}
#login_operloginlabel {
	text-align:center;
	font-size:20px;
}
#login_sitenamelabel {
	text-align:center;
	font-size:16px;
	padding:9px;
}
#login_logintable {
	margin-top:6px;
}
#login_cardtext .inputboxwrapper {
	margin-bottom:7px;
}
#login_bottom {
	height:0px;
}
#main_tab {
	min-width:659px;
	background: #C2E8F1 url('images/skybg.png') repeat-x left top;
}
#main_box {
	width:861px;
	margin-left:auto;
	margin-right:auto;
	background-color:#E3E3E3;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
}
#main_topbarcontainer {
	height:40px;
	vertical-align:bottom;
}
#main_topbarinnertable {
}
.main_topbartab, .main_topbartabcurrent {
	display:table-cell;
	background-image:url('images/tabtile.png');
	background-repeat:repeat-x;
	border-top:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #BBBBBB;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:5px;
	width:160px;
	font-size:20px;
	text-align:center;
	text-shadow:1px 1px 0px #f4f4f4;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	cursor:pointer;
}
.main_topbartab:hover {
	box-shadow: 0px 0px 1px 1px #84d3e6;
}
.main_topbartab:active, .main_topbartabcurrent:active {
	box-shadow: 0px 0px 6px 2px #c8c8c8 inset;
}
.main_topbartab {
	border-bottom:1px solid #BBBBBB;
}
.main_topbartabcurrent {
	border-bottom:1px solid #E3E3E3;
}
.main_topbarspacer, .main_topbarspacer9w {
	display:table-cell;
	border-bottom:1px solid #BBBBBB;
}
.main_topbarspacer9w {
	width:9px;
}

